@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html, body {
    overflow: auto;
}

:root[data-theme="light"] {
  --text: #030b17;
  --background: #edf3fd;
  --primary: #0f3e85;
  --secondary: #8768ee;
  --accent: #5118d8;
}
:root[data-theme="dark"] {
  --text: #e6effc;
  --background: #020812;
  --primary: #7baaf0;
  --secondary: #301199;
  --accent: #6227e7;
}

.react-calendar {
    width: 100% !important;
    border: none !important;
}

.react-calendar__navigation__label{
  font-weight: 600 !important;
}

.react-calendar__tile--active {
    background-color: #C3EBFA !important;
    color: black !important;
}
